* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b141a;
}

/* APP */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.chat-header {
  height: 60px;
  background: #202c33;
  border-bottom: 1px solid #2a3942;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.header-left h3 {
  color: white;
  font-size: 16px;
}

.header-left p {
  color: #8696a0;
  font-size: 13px;
  margin-top: 2px;
}

/* MESSAGES */

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #0b141a;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SYSTEM MESSAGE */

.system-message {
  align-self: center;
  background: #182229;
  color: #aebac1;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
}

/* MESSAGE ROW */

.message-row {
  display: flex;
}

.message-row.mine {
  justify-content: flex-end;
}

/* BUBBLE */

.message-bubble {
  background: #202c33;
  color: white;
  padding: 8px 10px 6px;
  border-radius: 8px;
  max-width: 320px;
  min-width: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.message-row.mine .message-bubble {
  background: #005c4b;
}

/* TEXT */

.message-text {
  font-size: 14px;
  line-height: 1.4;
  padding-right: 50px;
}

/* TIME */

.message-meta {
  align-self: flex-end;
  margin-top: 4px;
  font-size: 11px;
  color: #aebac1;
}

/* INPUT */

.input-section {
  height: 70px;
  background: #202c33;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 10px;
}

.input-section input {
  flex: 1;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #2a3942;
  color: white;
  padding: 0 16px;
  font-size: 15px;
}

.input-section input::placeholder {
  color: #8696a0;
}

.input-section button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #00a884;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.input-section button:hover {
  transform: scale(1.05);
}
